DATABASE_URL="mysql://user:password@host:3306/petvet"
PORT=3001
NODE_ENV=production
SESSION_SECRET=schimba-cu-un-secret-lung-si-random
JWT_SECRET=schimba-cu-un-jwt-secret-lung-si-random
MONGO_URL=mongodb+srv://user:password@cluster.mongodb.net/petvet
